:root {
	color-scheme: light dark;
	--color-primary: #355E3B;
	--color-secondary: #A4C58C;

	//--color-highlight: #ED6A5A;
	//--color-highlight: #C84A3D;
	--color-highlight: #C84A3D;
	--color-acent-yellow: #f7c873;
	//--color-acent-beige: #DFAE93;
	--color-acent-beige: #EBAC9A;

	--color-dark-gray: #1f1f1f;
	--color-black: #000000;
	--color-white: #ffffff;

	--color-nav-hover: #fdebcd;

	--color-section-green: rgba(164, 197, 140, 0.14);
}