@use "breakpoints" as *;

* {
	margin: 0;
	padding: 0;
}


*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}


html {
	box-sizing: border-box;
}

body {
	background: var(--color-white);

}

a, button {
	cursor: pointer;
}


:root {
	//--section-max-width: 1280px;
	--section-max-width: 1100px;
	--img-border-radius: 4%;

	--am-block-max-width-o: 50rem;
}


.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.hidden {
	display: none;
	visibility: hidden;
}

//No scroll Burger Navi open
.no-scroll {
	overflow: hidden;
	height: 100%;
}




//Main
main {
	position: relative;
	margin: 0 auto;
	padding: 0;
	min-height: 100vh;

	@include desktop {
		&#home {
			padding: 48px 0 0 0;
		}

	}
}





